@import '~react-toastify/dist/ReactToastify.min.css';


body{
    min-height: 100vh;
    position: relative;
    margin: 0;
    width: 100%;
    
}
.base-page {
    padding-top: 100px;
    padding-bottom: 200px;
}
footer {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    font-size: 16px;
    
}


.bg-dark {
    background-color: #000000!important;
}




.home-page{
    .movie-genre{
        font-size: 17px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    .card-title{
        margin-bottom: 0px;

    }
    .navbar{
        min-height: 80;
        >li>a{
            font-size: 19px;
        }
    }
    .navbar-brand{
        font-size: 30px;
        font-weight: bold;
    }
}